.switch {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 12px;
  color: #929BAA; }
  .switch .fa {
    cursor: pointer;
    font-size: 22px;
    user-select: none; }
    .switch .fa:hover {
      color: #555E6D; }
  .switch.disabled {
    cursor: auto; }
  .switch .fa-toggle-on {
    color: #32C094; }
