
$primary: #3aa3e3;
$success: #32C094;
$danger: #c9302c;
$warning: #F7F24A;
$pink: #D71460;
$green: #32C094;
$blue: #3aa3e3;
$orange: #DFA01E;
$dark-soft: #22262F;
$dark: #141B1F;
// $dark-soft: lighten($dark, 20%);

// http://color.and.diamonds/#F6F7F9,#E1E4EA,#C0C7D3,#929BAA,#555E6D,#22262F,#141B1F
// http://color.and.diamonds/#F6F7F9,#E1E4EA,#C0C7D3,#929BAA,#555E6D,#22262F,#141B1F
$white: #fff;
$lightest-grey: #F6F7F9;
$light-grey: #E1E4EA;
$medium-grey: #C0C7D3;
$grey: #929BAA;
$dark-grey: #555E6D;
$darkest-grey: #22262F;
$black: #141B1F;
